@import "tailwindcss";

/* ========== FONTS ========== */
@font-face {
  font-family: 'Spicy Soup';
  src: url('/fonts/SpicySoup.ttf');
}

@font-face {
  font-family: 'Single Day';
  src: url('/fonts/SingleDay-Regular.ttf');
}

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #E8E1FD;
  overflow-x: hidden;
}

video {
  width: 100%;
  border-radius: 13px;
}

img {
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

p {
  color: #fff;
  font-family: 'Single Day', cursive;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
}

h2 {
  font-family: 'Spicy Soup', cursive;
  font-size: 3.05vw;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  -webkit-text-stroke: 0.1vw #fff;
}

/* ========== HEADER ========== */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5vw 7vw 5vw;
  background: url("/images/header-bg.png") no-repeat;
  background-position: top center;
  background-size: cover;
}

.header h1 {
  font-family: 'Spicy Soup', cursive;
  font-size: 2.8vw;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 0.1vw #000;
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 2vw;
}

.header nav .logo img {
  width: 35%;
}

.header nav .social-icons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.2vw;
}

.header nav .social-icons img {
  width: 5vw;
  transition: all 0.4s;
  filter: drop-shadow(1.5vw 5vw 4vw rgba(0, 0, 0, 0.6));
}

.header nav .social-icons img:hover {
  transform: translateY(-5px);
}

.header .header-heading {
  width: 50%;
  animation: swing 10s infinite linear reverse;
}

.header a img {
  width: 14vw;
  transition: all 0.3s ease-in-out;
}

.header a img:hover {
  transform: scale(1.1);
}

.header .character-1 {
  width: 25vw;
}

/* ========== ABOUT ========== */
.about {
  padding: 5vw 20vw;
  position: relative;
}

.star-groups {
  position: absolute;
  width: 80%;
  top: 5vw;
  left: 10vw;
}

.about-content {
  padding: 10vw 8vw 13vw 25vw;
  background: url("/images/about-bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
}

.about-content .about-img {
  position: absolute;
  bottom: 5.3vw;
  left: 5vw;
  width: 23vw;
}

.about-content .cloud {
  position: absolute;
  width: 10vw;
  top: -2vw;
  left: -2vw;
  animation: root 10s infinite linear alternate;
}

.about-content .cloud-1 {
  position: absolute;
  width: 8vw;
  top: 6vw;
  right: -2vw;
  animation: root 10s infinite alternate-reverse;
}

/* ========== IMAGES ========== */
.images {
  padding: 5vw 10vw;
  background: url("/images/images-bg.png") no-repeat;
  background-position: bottom center;
  background-size: 100% 60%;
}

.images img {
  border-radius: 13px;
}

.images .images-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.images .left {
  width: 65%;
  background: #4F37C1;
  border-radius: 1vw;
  padding: 3vw 5vw;
}

.images .left img {
  display: block;
}

.images .left .text-box {
  background: #fff;
  border-radius: 1vw;
  border: 2px solid #000;
  padding: 2vw;
}

.images .left .text-box p {
  color: #000;
  text-align: left;
}

.images .right {
  width: 32%;
  padding: 3vw 2vw 4vw 2vw;
  background: url("/images/img-2.png") no-repeat;
  background-size: 100% 100%;
}

.images h2 {
  margin-top: 2vw;
}

/* ========== CHOOSE ========== */
.choose {
  padding: 0vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2vw;
}

.choose .box {
  width: 25%;
  padding: 2vw;
}

.choose .box-1 {
  background: url("/images/c-1.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding: 8vw 5vw 12vw 2vw;
}

.choose .box-1 p {
  text-align: left;
}

.choose .box-2 {
  background: url("/images/c-2.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding: 8vw 5vw 12vw 4vw;
  margin-left: -5vw;
  width: 32%;
}

.choose .box-3 {
  background: url("/images/c-3.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding: 8vw 5vw 12vw 3.5vw;
  margin-left: -5vw;
  width: 31%;
}

.choose .box-4 {
  background: url("/images/c-4.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding: 8vw 5vw 12vw 5vw;
  margin-left: -4vw;
  width: 32%;
}

.choose .box-4 p {
  text-align: right;
}

/* ========== HOW TO BUY ========== */
.htb {
  display: flex;
  height: 112vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 10vw;
  position: relative;
  background: url("/images/htb-bg.png") no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin-top: -1.7vw;
}

.htb .cloud-2 {
  position: absolute;
  width: 9vw;
  top: 0vw;
  left: 12vw;
  z-index: 2;
  animation: root 10s infinite alternate-reverse;
}

.htb .cloud-3 {
  position: absolute;
  width: 7vw;
  bottom: 8vw;
  right: 32vw;
  z-index: 2;
  animation: root 15s infinite alternate-reverse;
}

.htb h2 {
  position: absolute;
  top: 12vw;
}

.htb .htb-img {
  position: absolute;
  width: 45vw;
  margin-top: 5vw;
  padding-bottom: 10vw;
}

.htb .box {
  position: absolute;
  width: 20vw;
}

.htb .box p {
  color: #000;
  text-align: left;
}

.htb .box-1 {
  padding: 5vw 4vw 12vw 2vw;
  left: 15vw;
  top: 25vw;
  background: url("/images/box-10bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.htb .box-2 {
  padding: 3vw 3vw 12vw 4vw;
  right: 15vw;
  top: 25vw;
  background: url("/images/box-2-bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.htb .box-3 {
  padding: 12vw 4vw 5vw 2vw;
  left: 15vw;
  top: 65vw;
  background: url("/images/box-3-bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.htb .box-4 {
  padding: 12vw 0vw 5vw 4vw;
  right: 15vw;
  top: 63vw;
  background: url("/images/box-4-bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

/* ========== FINAL ========== */
.final {
  width: 100%;
  padding: 6vw;
  padding-top: 18vw;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("/images/finla-bg.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-top: -16.3vw;
}

.final .cloud {
  position: absolute;
  width: 12vw;
  top: 0;
  left: 0;
  animation: root 15s infinite alternate-reverse;
}

.final .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2vw;
  padding-top: 0vw;
}

.final .left h2 {
  font-size: 3.5vw;
  color: black;
  -webkit-text-stroke: 0.1vw #fff;
  line-height: 120%;
}

.final .left p {
  font-size: 1.5vw;
  color: white;
  text-align: left;
  line-height: 120%;
}

.final .right {
  width: 37%;
}

.final .right img {
  position: relative;
  width: 100%;
  margin-left: 7vw;
}

/* ========== FOOTER ========== */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  padding: 7vw 17vw;
  position: relative;
}

.footer .cloud1 {
  position: absolute;
  width: 12vw;
  left: 0;
  top: 5vw;
  animation: root 10s infinite linear alternate;
}

.footer .cloud2 {
  position: absolute;
  width: 10vw;
  top: 15vw;
  left: 0;
  animation: root 10s infinite alternate-reverse;
}

.footer .star1 {
  position: absolute;
  width: 2vw;
  top: 5vw;
  right: 27vw;
  animation: scale 3s infinite alternate-reverse;
}

.footer .star2 {
  position: absolute;
  width: 1.5vw;
  top: 13vw;
  right: 18vw;
  animation: scale 2s infinite alternate-reverse;
}

.footer .star3 {
  position: absolute;
  width: 3vw;
  top: 8vw;
  left: 13vw;
  animation: scale 2.8s infinite alternate-reverse;
}

.footer .star4 {
  position: absolute;
  width: 1.7vw;
  top: 12vw;
  left: 15vw;
  animation: scale 3.7s infinite alternate-reverse;
}

.footer .bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer .stay {
  width: 100%;
  display: flex;
  align-items: center;
  background: url("/images/stay-bg.png") no-repeat;
  background-size: 100% 100%;
  padding: 2vw 9vw 2vw 6vw;
}

.footer .stay .left {
  width: 35%;
}

.footer .stay .left img {
  width: 22vw;
  position: relative;
  top: 3.2vw;
  left: -5vw;
}

.footer .stay .right {
  width: 65%;
  padding-bottom: 3vw;
}

.footer .stay .right h2 {
  font-size: 3.5vw;
  color: black;
  -webkit-text-stroke: 0.1vw #fff;
  line-height: 120%;
  text-align: left;
}

.footer .stay .right p {
  font-size: 1.5vw;
  color: white;
  line-height: 120%;
  text-align: left;
}

.footer p.claim {
  text-align: center;
  font-size: 1.7vw;
  line-height: 120%;
  color: #000;
}

.footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.footer .links a img {
  width: 4vw;
  border-radius: 1.2vw;
  box-shadow: none !important;
  transition: all 0.5s;
}

.footer .links a:nth-child(3) img {
  width: 10vw;
}

.footer .links a img:hover {
  filter: invert(100%);
}

.footer ul.copy {
  list-style: none;
}

.footer ul.copy li {
  font-size: 1.2vw;
  text-align: center;
  font-family: 'Spicy Soup', cursive;
  color: #000;
}

/* ========== ANIMATIONS ========== */
@keyframes root {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(88vw);
  }
}

@keyframes swing {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes gentlePulse {
  0%, 100% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.02);
    filter: brightness(1.1);
  }
}

@keyframes smoothFloat {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes floatRotate {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}

@keyframes starTwinkle {
  0%, 100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  25% {
    opacity: 0.5;
    transform: scale(0.8) rotate(90deg);
  }
  50% {
    opacity: 1;
    transform: scale(1.2) rotate(180deg);
  }
  75% {
    opacity: 0.7;
    transform: scale(0.9) rotate(270deg);
  }
}

@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========== MOBILE STYLES ========== */
@media (max-width: 600px) {
  .header {
    background: url("/images/header-bg-mobile.png") no-repeat;
    background-size: cover;
  }

  .header .header-heading {
    width: 100%;
    margin-top: 7vw;
  }

  .header a img {
    width: 50vw;
    margin-top: 5vw;
  }

  .header nav .social-icons img {
    width: 15vw;
  }

  .header .character-1 {
    width: 85vw;
    margin-top: 12vw;
  }

  h2 {
    font-size: 13vw;
  }

  .about {
    padding: 5vw 3vw;
  }

  .about-content {
    background: url("/images/about-bg-mbile.png") no-repeat;
    background-size: cover;
    padding: 20vw 6vw 13vw 12vw;
    padding-bottom: 90vw;
  }

  .about-content p {
    font-size: 5vw;
  }

  .about-content .cloud {
    position: absolute;
    width: 30vw;
    top: -2vw;
    left: -2vw;
    animation: root 10s infinite linear alternate;
  }

  .images {
    background: url("/images/images-bg-mobile.png") no-repeat;
    background-size: cover;
    padding-bottom: 22vw;
  }

  .images h2 {
    color: #fff;
    -webkit-text-stroke: 0.5vw #000;
    font-size: 10vw;
  }

  .images .left {
    width: 100%;
    border-radius: 4vw;
    margin-bottom: 12vw;
  }

  .images .left .text-box {
    border-radius: 4vw;
  }

  .images .left .text-box p {
    font-size: 5vw;
  }

  .images .right {
    width: 100%;
    padding: 8vw 4vw 13vw 4vw;
  }

  .images .images-wrap {
    flex-direction: column;
  }

  .choose {
    position: relative;
    z-index: 10;
    flex-direction: column;
    background: url("/images/choose-bg-mobile.png") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 15vw;
  }

  .choose p {
    font-size: 4.5vw;
  }

  .choose .box {
    width: 95%;
    height: 64vw;
    background: none !important;
    padding: 18vw 17vw;
    text-align: center;
  }

  .choose .box-2 {
    padding: 0vw 17vw;
    padding-top: 25vw;
    margin-left: 0;
    width: 95%;
  }

  .choose .box-3 {
    padding: 7vw 17vw;
    padding-top: 25vw;
    margin-left: 0;
    width: 95%;
  }

  .choose .box-4 {
    padding-top: 25vw;
    margin-left: 0;
    width: 95%;
  }

  .choose .box p {
    text-align: center;
  }

  .htb {
    margin-top: -20vw;
    background: url("/images/htb-bg-mobile.png") no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 40vw;
    padding-bottom: 14vw;
  }

  .htb .box {
    position: unset;
    width: 100%;
    height: 78vw;
  }

  .htb .box-1 {
    padding: 13vw 10vw;
    left: unset;
    top: unset;
  }

  .htb .box-2 {
    padding: 9vw 10vw;
    padding-left: 16vw;
    margin-left: -14vw;
    right: unset;
    top: unset;
  }

  .htb .box-3 {
    padding: 37vw 10vw;
    left: unset;
    top: unset;
  }

  .htb .box-4 {
    padding: 31vw 10vw;
    padding-left: 16vw;
    margin-left: -14vw;
    right: unset;
    top: unset;
  }

  .htb .box p {
    font-size: 4.5vw;
  }

  .htb h2 {
    font-size: 10vw;
    padding: 0 12vw;
    line-height: 102%;
    margin-top: 14vw;
    position: unset;
  }

  .htb .htb-img {
    position: unset;
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;
  }

  .final {
    background: url("/images/final-bg-mobile.png") no-repeat;
    background-size: cover;
    flex-direction: column;
    margin-top: -24vw;
    padding: 0;
  }

  .final .cloud {
    width: 22vw;
  }

  .htb .cloud-3 {
    width: 20vw;
  }

  .final .left {
    width: 100%;
    padding: 0 13vw;
    padding-top: 24vw;
  }

  .final .left h2 {
    font-size: 10vw;
    color: #fff;
    -webkit-text-stroke: 0.5vw #000;
    text-align: left;
  }

  .final .right {
    width: 100%;
  }

  .final .right img {
    margin-left: 0;
    display: block;
    width: 120vw;
    margin-bottom: 2vw;
  }

  .final .left p {
    font-size: 5vw;
  }

  .footer {
    padding: 7vw 0;
    gap: 5vw;
  }

  .footer .cloud1 {
    width: 24vw;
  }

  .footer .cloud2 {
    width: 24vw;
  }

  .footer .star1 {
    width: 5vw;
  }

  .footer .star2 {
    width: 8vw;
  }

  .footer .star3 {
    width: 8vw;
  }

  .footer .star4 {
    top: 66%;
    left: 20%;
    width: 8vw;
  }

  .footer .stay {
    background: url("/images/stay-bg-mobile.png") no-repeat;
    background-size: 100% 100%;
    flex-direction: column-reverse;
    padding-top: 15vw;
  }

  .footer .stay .left {
    width: 100%;
  }

  .footer .stay .right {
    width: 77%;
    text-align: center;
  }

  .footer .stay .right h2 {
    font-size: 8vw;
    margin-bottom: 3vw;
    color: #fff;
    -webkit-text-stroke: 0.5vw #000;
    text-align: center;
  }

  .footer .stay .right p {
    font-size: 4.5vw;
    text-align: center;
  }

  .footer .stay .left img {
    width: 90vw;
    position: unset;
    top: 3.2vw;
    left: -27vw;
  }

  .footer p.claim {
    font-size: 4vw;
    padding: 0 13vw;
  }

  .footer .links a img {
    width: 12vw;
  }

  .footer ul.copy li {
    font-size: 4vw;
    padding: 5vw 18vw;
  }
}

/* ========== SCROLLBAR ========== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #E8E1FD;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b21b6;
}
